@import "mixins/mixins";


@include b(input) {
  display: inline-block;

  @include e(inner) {
    height: 30px;
    padding: 6px var(--input-padding);
    border: solid 1px var(--input-border-color);
    border-radius: var(--input-radius);
    box-sizing: border-box;
    outline: none;
    transition: border 0.2s;

    &:hover {
      border-color: var(--input-border-color-hover);
    }

    &:focus {
      border-color: var(--color-primary);
    }

    &::-webkit-input-placeholder {
      color: var(--color-primary-gray-2);
    }

    &:disabled {
      background: var(--color-primary-gray-3);
      cursor: not-allowed;
    }
  }

  @include m(small) {
    .td-input__inner {
      height: 22px;
    }
  }

  @include m(large) {
    .td-input__inner {
      height: 36px;
    }
  }

  @include m(prefix) {
    position: relative;

    .td-input__inner {
      padding: 0 10px 0 28px;
    }
  }

  @include e(prefix) {
    position: absolute;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 100%;
    color: var(--color-primary-gray-2);
  }

  @include m(suffix) {
    position: relative;

    .td-input__inner {
      padding: 0 28px 0 10px;
    }
  }

  @include e(suffix) {
    position: absolute;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 100%;
    color: var(--color-primary-gray-2);
  }

  @include when(warn) {
    .td-input__inner {
      color: var(--color-default) !important;
      border-color: var(--color-danger-2) !important;
    }
  }

  @include when(disabled) {
    color: var(--color-primary-gray-3);
    cursor: not-allowed;

    .td-input__label {
      color: var(--color-primary-gray-2);
    }

    .td-input__inner::-webkit-input-placeholder {
      color: var(--color-primary-gray-1);
    }
  }
}

@include b(input-group) {
  display: flex;
  align-items: center;
  height: 30px;
  border: solid 1px var(--input-border-color);
  border-radius: var(--input-radius);

  .td-input__button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 7px;

    @include when(disabled) {
      cursor: default;
      color: var(--color-primary-gray-2);
    }
  }

  @include e(prepend) {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .td-input {
    flex: 1;
    position: relative;
  }

  .td-input__inner {
    width: 100%;
    border: 0;
    background: transparent;
  }

  .td-dropdown-menu {
    top: 32px;
  }
}

@include b(input-number) {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  @include e(button){
    
  }
  @include e(down) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    border: solid 1px var(--color-primary-gray-2);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--color-primary);
    }

    @include when(disabled) {
      color: var(--color-primary-gray-2);
      cursor: default;
      &:hover {
        color: var(--color-primary-gray-2);
      }
    }
  }

  @include e(up) { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    border: solid 1px var(--color-primary-gray-2);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: var(--color-primary);
    }

    @include when(disabled) {
      color: var(--color-primary-gray-2);
      border-color: var(--color-primary-gray-3);
      cursor: default;
      &:hover {
        color: var(--color-primary-gray-2);
      }
    }
  }

  .td-input{
    margin: 0 6px;
  }
  .td-input__inner {
   
    width: 100px;
    text-align: center;
  }
  @include e(prepend){
    margin-left: 6px;
  }
  @include e(append){
    margin-right: 6px;
  }

  @include when(disabled) {
    cursor: default;
    .td-input,
    .td-input-number__down,
    .td-input-number__up {
      color: var(--color-primary-gray-2);
      pointer-events: none;
    }

    .td-input__inner {
      color: var(--color-primary-gray-2);
      background: var(--color-primary-gray-3);
    }
  }
}

@include b(input-button) {
  position: relative;
  display: flex;
  width: 260px;

  @include m(solid) {
    .td-input {
      width: calc(100% - 60px);
    }

    .td-input__inner {
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    .td-button {
      width: 60px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @include m(ghost) {
    position: relative;
    width: 260px;

    .td-input,
    .td-input__inner {
      width: 100%;
    }

    .td-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 60px;

      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px;
        width: 1px;
        height: 16px;
        background: var(--input-border-color);
        content: "";
      }
    }
  }
}

@include b(textarea) {
  @include e(label) {
    line-height: 30px;
  }

  @include e(inner) {
    display: block;
    width: 100%;
    padding: var(--input-padding);
    border: solid 1px var(--input-border-color);
    border-radius: var(--input-radius);
    box-sizing: border-box;
    resize: none;
    outline: none;
    @include scrollbar();

    &:focus {
      border-color: var(--color-primary);
    }

    &::-webkit-input-placeholder {
      color: var(--color-primary-gray-2);
    }
  }

  @include when(disabled) {
    .td-textarea__inner {
      background-color: var(--color-primary-gray-3);
      cursor: not-allowed;
    }
  }

  @include when(warn) {
    .td-textarea__inner {
      border-color: var(--color-danger-2) !important;
    }
  }
}


@include b(checkbox) {
  display: inline-flex;
  align-items: center;
  @include e(inner) {
    position: relative;
    flex: none;
    width: 14px;
    height: 14px;
    background: #fff;
    border: solid 1px var(--color-primary-gray-1);
    border-radius: 3px;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
    &:before {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 6px;
      height: 3px;
      border: {
        left: solid 1px #fff;
        bottom: solid 1px #fff;
      }
      transform: rotate(-45deg) scale(0);
      transition: 0.1s;
      content: "";
    }
    &:checked {
      background: var(--color-primary);
      border-color: var(--color-primary);
      &:before {
        transform: rotate(-45deg) scale(1);
      }
    }
    &:hover {
      border-color: var(--color-primary);
    }
    &:focus {
      outline: none;
    }
  }
  @include e(label) {
    margin-left: 6px;
  }

  @include when(indeterminate) {
    .td-checkbox__inner {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
      &:before {
        position: absolute;
        top: 4px;
        left: 3px;
        width: 6px;
        height: 1px;
        background: #fff;
        content: "";
      }
      &:before {
        border-left: 0;
        top: 5px;
        transform: rotate(0deg);
      }
    }
  }
  @include when(disabled) {
    cursor: not-allowed;
    .td-checkbox__inner {
      background-color: var(--color-primary-gray-3);
      border-color: var(--color-primary-gray-2);
      &:checked {
        background-color: var(--color-primary-gray-2);
      }
    }
    .td-checkbox__label {
      color: var(--color-primary-gray-2);
    }
    &.is-indeterminate .td-checkbox__inner {
      background-color: var(--color-primary-gray-2);
    }
  }
}


@include b(tree) {
  overflow-y: auto;
  @include m(hover) {
    .td-tree-node__content {
      &:hover {
        background: var(--tree-background);
      }
      &.is-leaf{
        .td-icon-arrow-drop{
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}

@include b(tree-node) {
  display: table;
  width: 100%;
  @include e(content) {
    position: relative;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    @include when(chosen) {
      background: #eaedf5;
    }
  }
  @include e(label) {
    display: inline-block;
    margin: 0 7px;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  & > .td-tree-node__children {
    position: relative;
    overflow: hidden;
    height: 0;
  }
  @include e(image-icon) {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 2px 0 6px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    vertical-align: -3px;
  }
  @include e(expand-icon) {
    display: inline-block;
    color: var(--color-primary-gray-1);
    vertical-align: -1px;
    transform: rotate(-90deg);
    transition: transform 0.2s;
    @include when(hidden) {
      visibility: hidden;
    }

    @include when(expanded) {
      transform: rotate(0);
      color: var(--color-primary);
    }
  }

  @include e(children) {
    transition: 0.2s;
  }
  &.is-expanded > .td-tree-node__children {
    height: auto;
    overflow: visible;
  }
  .td-checkbox{
    margin-left: 4px;
    vertical-align: -2px;
  }
  .td-checkbox__label {
    display: flex;
    align-items: center;
  }
  .td-icon-loading{
    margin-left: 6px;
  }
}
